* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

main {
  width: 75vw;
  padding: 1rem;
  margin: 2rem auto;
  margin-top: 0;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

.projects {
  display: flex;
  flex-direction: column;
}

.project-link {
  background-color: #fff;
  padding: 10px 30px;
  border-radius: 8px;
  color: #212121;
  text-decoration: none;
  border: 2px solid #212121;
}
.buttonList {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.buttonList a {
  display: block;
  text-decoration: none;
  background-color: white;
  margin: 10px;
  width: 70px;
  height: 35px;
  text-align: center;
  border-radius: 5px;
  padding-top: 8px;
  font-size: 15px;
  font-weight: 600;
  color: black;
}
