* {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: #25303f;
    color: white;
    font-family: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Left Nav Bar Display Fixed */
.leftContainer {
    display: flex;
    align-items: flex-start;
    background-color: #151f2b;
    flex-direction: column;
    padding: 2rem 0rem 6rem 2rem;
    width: 20vw;
    height: 100vh;
    justify-content: space-evenly;
    position: fixed;
    left: 0;
    top: 0;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.leftTopImage {
    font-size: 2rem;
    background-color: #151f2b;
}

.leftTopImage img {
    border-radius: 0.5rem;
    height: 15rem;
    width: auto;
}

.leftTopImage p {
    padding-top: 2rem;
    background-color: #151f2b;
}

.headings {
    background-color: #151f2b;
    display: flex;
    row-gap: 1rem;
    flex-direction: column;
    font-size: 1.5rem;
}

.socialMEdiaLogo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border-radius: 3rem; */
    height: 2rem;
    width: auto;
    gap: 2rem;
    margin-top: 3rem;
    background-color: #151f2b;
}

.socialMEdiaLogo img {
    background-color: #151f2b;
}

.leftContainer a {
    text-decoration: none;
    color: white;
    background-color: #151f2b;
}

.headings a:hover {
    color: rgb(19, 204, 19);
}

/* Main Content */
.containerMain {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 80vw;
    margin-left: 20vw;
}

.containerMainRight img {
    height: 60px;
    width: auto;
}