* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.box {
  height: 4rem;
  width: 4rem;
  border: 2px solid black;
  text-align: center;
  align-content: center;
  font-size: 2rem;
  background-color: rgb(135, 5, 5);
  border-radius: 20%;
}
.calculater {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.calculater h1 {
  font-size: 40px;
  margin-top: 20px;
}
.keys {
  width: 16vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
}
input {
  height: 5rem;
  width: 15rem;
  margin: 1rem 0;
  border: 2px solid black;
  border-radius: 10%;
  color: white;
}
.container{
    border: 3px solid black;
    padding: 0rem 1rem 1rem 1rem;
    margin-top: 20px;
    background-color: rgb(21, 21, 49);
    border-radius: 2%;
}